body {
    background-color: rgb(60, 61, 56);

}

h1 {
    text-align: center;
    /* souligner */
    text-decoration: underline;
    color: #358fee;
}

h2 {
    margin-left: 30px;
}


#add-contact {
    position: absolute;
    cursor: pointer;
    color: #f2f2f2;
    bottom: 0;
    left: 0;
    font-size: 2rem;
    padding: 15px;
    transition: color 0.3s ease-in-out;
}

#delete-all {
    position: absolute;
    cursor: pointer;
    color: #f2f2f2;
    bottom: 0;
    right: 0;
    padding: 15px;
    font-size: 2rem;
    transition: color 0.3s ease-in-out;
}

#delete-all:hover {
    color: #007bff;
}

#add-contact:hover {
    color: #007bff;
}


.showEdit {
    display: block;
}

#edit {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 50%;
    height: 400px;
    margin: auto;
}

#edit h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

#edit-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;

}

#edit-form input[type="text"],
#edit-form input[type="submit"] {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#edit-form input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
}


#contacts {
    margin: auto;
    width: 50%;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}